<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="~{inquiry/fragments/head :: inqHead(pageTitle='예약 현황')}"></th:block>
    <link rel="stylesheet" th:href="@{/css/reservation/reservation.css}">
    <link rel="stylesheet" th:href="@{/css/reservation/calendar.css}">
</head>
<body>

<div class="main-layout">
    <div th:replace="~{fragments/sidebar :: sidebar(currentPage='reservation')}"></div>

    <div class="main-wrapper">
        <!-- 상단 메뉴 -->
        <div th:replace="~{fragments/headerCurrentMenuView :: path(paths=${ {'reservation'} })}"></div>

        <!-- 관리자 메뉴 -->
        <div sec:authorize="hasRole('ADMIN')"
             th:replace="~{fragments/headerCategoryMenu :: reservationAdmin}">
        </div>

        <!-- 일반 회원 메뉴 -->
        <div sec:authorize="!hasRole('ADMIN')"
             th:replace="~{fragments/headerCategoryMenu :: reservation}">
        </div>

        <div class="dashboard-content">
            <main class="container">
                <div class="header-with-action">
                    <div class="title-group">
                        <h1 class="module-title title">전체 예약 현황</h1>

                        <div id="facilityButtons" class="facility-tabs"></div>
                    </div>

                    <div class="action-wrapper" sec:authorize="!hasRole('ADMIN')">
                        <a th:href="@{/reservation/apply}" class="btn btn-primary btn-apply-lg">
                            + 예약 신청
                        </a>
                    </div>
                </div>

                <div id="calendar-container">
                    <div id="calendar"></div>
                </div>
            </main>
        </div>

        <footer th:replace="~{fragments/footer :: footer}"></footer>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js"></script>
<script th:src="@{/js/reservation/calendar.js}"></script>
</body>
</html>