<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="commHead(pageTitle)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${pageTitle} + ' | Home talk' ">Title</title>

    <!-- 공통 CSRF -->
    <meta name="_csrf" th:content="${_csrf?.token}" />
    <meta name="_csrf_header" th:content="${_csrf?.headerName}" />

    <link rel="stylesheet" th:href="@{/css/community/common.css}" />
    <!-- 폰트어썸 등 공통 라이브러리 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</th:block>

</html>