<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="pagination(page, boardCode, categoryCode)">
    <div class="pagination-container"
         th:with="
            pageSize = 10,
            currentPage = ${page.number + 1},
            startPage = ${((currentPage - 1) / pageSize) * pageSize + 1},
            endPage = ${(page.totalPages == 0) ? 1 : (startPage + pageSize - 1 < page.totalPages ? startPage + pageSize - 1 : page.totalPages)}
         ">
        <div class="left-wing"></div>

        <nav aria-label="Page navigation" class="pagination-nav" th:if="${!page.isEmpty()}">
            <ul class="pagination">

                <li class="page-item" th:classappend="${startPage <= 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="${startPage > 1}
                               ? @{/community/{boardCode}/{categoryCode}(boardCode=${boardCode}, categoryCode=${categoryCode}, page=${startPage - 1})}
                               : '#'"
                       aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item"
                    th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}"
                    th:classappend="${pageNumber == currentPage} ? 'active'">
                    <a class="page-link"
                       th:href="@{/community/{boardCode}/{categoryCode}(boardCode=${boardCode}, categoryCode=${categoryCode}, page=${pageNumber})}"
                       th:text="${pageNumber}">
                    </a>
                </li>

                <li class="page-item" th:classappend="${endPage >= page.totalPages} ? 'disabled'">
                    <a class="page-link"
                       th:href="${endPage < page.totalPages}
                          ? @{/community/{boardCode}/{categoryCode}(boardCode=${boardCode}, categoryCode=${categoryCode}, page=${endPage + 1})}
                          : '#'"
                       aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            </ul>
        </nav>
        <div class="action-wrapper">
            <a th:href="@{/community/{code}/write(code=${board.code})}" class="btn btn-primary">글 작성</a>
        </div>
    </div>

</div>
</html>